{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}Mass Import{% endtrans %}</h4></div>
                <div class="panel-body">
                        <form method="POST">
                            <button class="btn btn-info" type="submit">{% trans %}Do a mass import{% endtrans %}</button>
                        <p>{{ information }}</p>
                        </form>

                </div>
        </div>
</div>


<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}Generating a Code for Token{% endtrans %}</h4></div>
                <div class="panel-body">
                        <p>{% trans %}Open this link into a new navigation window, filll you Xee user account and give you authorisation to use it:{% endtrans %}</p>
                        <pre>{{ get_token_url }}</pre>
                        <a target="_blank" href="{{ get_token_url }}" class="btn btn-defautl"> Open this link in a new window to get your code!</a>
                        <p></p>
                        <p>{% trans %}This will return you to a new blank page (maybe an error page) but it contain the code in the url address.{% endtrans %}</p>
    	                <p>{% trans %}Put the code visible at http://localhost/?code= here to generate and save a token file in data.{% endtrans %}</p>
                        <form method="POST">
                            <div class="form-group">
				<label for="usr">Code:</label>
				<input type="text" class="form-control" id= {{form.code}}
                            </div>
                            <button class="btn btn-info" type="submit">{% trans %}Generate token file{% endtrans %}</button>
                        <p>{% trans %}You will need to restart plugin after generating the token file.{% endtrans %}</p>
                        </form>
                </div>
        </div>
</div>

<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}List of available Car_Id in this xee account{% endtrans %}</h4></div>
                <div class="panel-body">
                        <pre>{{ car_id }}</pre>
                </div>
        </div>
</div>

<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}Current Token information{% endtrans %}</h4></div>
                <div class="panel-body">
                        <pre>{{ current_token }}</pre>
                </div>
        </div>
</div>


<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}Last errors in plugin log{% endtrans %}</h4></div>
                <div class="panel-body">
                        <pre>{{ errorlog }}</pre>
                </div>
        </div>
</div>
{% endblock %}
